h1{
    text-align: center;
    color: #38A89B;
}
h2{
    font-weight: normal;
    font-size: 1.2rem;
    color: #808080;
}
.align-items-center{
    display: flex;
    align-items: center;
}
.d-none{
    display: none !important;
}
.d-block{
    display: block;
}
.color-red{
    color: #ff0000;
}
.color-green{
    color: #008000;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.cont-intro{
    padding: 16px 16px 0;
    margin: 8px;
}
.cont-intro h3{
    text-align: end;
    padding: 0 24px;
    font-weight: normal;
}
.cont-juego{
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px;
    justify-content: space-around;   
    margin: 8px;
}
.cont-juego-palabra{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cont-juego-palabra>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-juego-palabra p{
    text-align: center;
    font-size: 2.1rem;
    padding: 16px;
    margin: 4px 0;
}
.cont-juego-img{
    display: flex;
    justify-content: center;
    width: 100%;
}
input{
    border-radius: 4px;
    width: 312px;
    margin: 10px 0;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 8px 12px;
}
.btn-primary{
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    margin: 0;
    width: 128px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    background: #246eb9;
    color: white;
}
.cont-juego-img img{
    width: 120px;
    padding: 24px 0;
}


@media screen and (min-width: 768px) {
    .cont-intro{
        padding: 16px;
    }
    .cont-juego{
        flex-direction: row;
        padding: 16px;
    }
    .cont-juego-palabra{
        width: 60%;
    }
    .cont-juego-img{
        width: 40%;
    }
    .cont-juego-img img{
        width: 50%;
        margin: auto;
        padding: 0;
    }
    input{
        width: 360px;        
        margin: 10px 10px 10px 0;
    }
}

@media screen and (min-width: 992px){
    .cont-juego-palabra{
        align-items: center;
    }
}